@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Source+Sans+Pro:wght@400;900&display=swap');
 
body {
    background-color: azure;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
}

@media only screen and (min-width: 470px) {
    body {
        margin: 0;
    }
}

h1,
h2,
h3 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}

h1 {
    font-size: 2em;
    background-color: cadetblue;
    max-width: 100%;
    padding: 2em; 
    margin: 0;
}

h2 {
    background-color: skyblue;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 20px;
}

h4,
th {
    font-size: 1.25em;
    font-weight: 900;
    margin: none;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: skyblue;
    border-bottom: black solid 5px;
    min-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}



#logo span {
    font-family: 'Alfa Slab One', cursive;
}

#logo a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

#about {
    width: 100%;
}

@media only screen and (min-width: 470px) {
    #about p {
        width: 90%;
        margin: auto;
    }
}

.preset-example {
    display: grid;
    justify-content: center;
    margin: auto;
}

@media only screen and (min-width: 770px) {
    .preset-example {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        grid-template-rows: 1fr;
        grid-gap: 2em;
    }
}

.result {
    display: none;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 90%;
}

.resultRow {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    text-align: left;
}

@media only screen and (min-width: 470px) {
    .resultRow {
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 5%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.contain-result {
    display: flex;
    justify-content: center;
}

footer {
    min-height: 200px;
    background-color: cadetblue;
    margin-top: 50px;
    
    font-family: 'Alfa Slab One', cursive;
}

footer span {
    display: block;
    text-align: right;
    margin: auto;
    padding-right: 20px;
    padding: none;
}

footer a {
    color: hotpink;
    
    
}