@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Source+Sans+Pro:wght@400;900&display=swap');
 
body {
    background-color: azure;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}

h1 {
    font-size: 2em;
    background-color: cadetblue;
    max-width: 100%;
    padding: 2em; 
}

h2 {
    background-color: skyblue;
    padding-top: 1em;
    padding-bottom: 1em;
}

h4,
th {
    font-size: 1.25em;
    font-weight: 900;
    margin: none;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
}

#about {
    width: 100%;
}

@media only screen and (min-width: 470px) {
    #about p {
        width: 90%;
        margin: auto;
    }
}

table {
    text-align: left;
    width: 100%;
}

.preset-example {
    display: grid;
    justify-content: center;
    margin: auto;
}

@media only screen and (min-width: 770px) {
    .preset-example {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        grid-template-rows: 1fr;
        grid-gap: 2em;
    }
}

.result {
    display: none;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    min-height: 200px;
    background-color: cadetblue;
    margin-top: 50px;
    
    font-family: 'Alfa Slab One', cursive;
}

footer span {
    display: block;
    text-align: right;
    margin: auto;
    padding-right: 20px;
    padding: none;
}

footer a {
    color: hotpink;
    
    
}